* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  body {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 500px;
    height: 490px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  img {
    width: 200px;
    margin-top: 30px;
  }
  h2 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #151515;
  }
  .p1 {
    margin-top: 20px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
  }
  .p2 {
    margin: 20px 223px 2px 0px;
    color: #151515;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
  .para3 {
    margin: 20px 165px 2px 0px;
    color: #151515;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
  input {
    width: 320px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
  }
  ::placeholder {
    color: #b3b3b3;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  .eye {
    position: absolute;
    margin: -26px 0px 0px 137px;
  }
  #hide1,
  #comfirmhide1 {
    display: none;
  }
  button {
    margin-top: 20px;
    width: 220px;
    height: 40px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #01b7ee;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    width: 375px;
    margin: 0 auto;
  }
  body {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container {
    width: 375px;
    height: 440px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  img {
    width: 200px;
    margin-top: 20px;
  }
  h2 {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #151515;
  }
  .p1 {
    margin-top: 30px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }
  .p2 {
    margin: 20px 223px 2px 0px;
    color: #151515;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
  .para3 {
    margin: 20px 165px 2px 0px;
    color: #151515;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
  }
  input {
    width: 320px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
  }
  ::placeholder {
    color: #b3b3b3;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
  }
  .eye {
    position: absolute;
    margin: -26px 0px 0px 137px;
  }
  #hide1,
  #comfirmhide1 {
    display: none;
  }
  button {
    margin-top: 20px;
    width: 220px;
    height: 40px;
    border: 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #01b7ee;
    cursor: pointer;
  }
}
