{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuthWiki</title>
    <link rel="stylesheet" href="{%static 'css/password-reset-confirm.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <main>
        <div class="container">
          <a href=""><img class="logo-img" src="{%static 'images/AuthWikiLogo.svg' %}" alt="" /></a>
          <div class="envelope-img-div"><img src="{%static 'images/envelope.png' %}" alt=""></div>
          <h2>Check your Email</h2>
          <p class="para1">We sent a password reset link</p>

          <p class="para3">Didn't receive the mail? <a href="{%url 'password_reset' %}">Click to resend</a></p>
          <div class="log-in-div">
            <a href="{%url 'accounts:login'%}"
              ><div class="icon-arrow"></div>
              Back to log in</a
            >
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
