<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP VERIFICATION</title>
</head>

<body>
    <form method="post">

        {% csrf_token %} {% if message %}
        <div class="wrong otp">message</div>
        {% endif %}

        <h1> Otp Verification {{email}}</h1>
        otp <br>
        <textarea name="otp" cols="30" rows="10"></textarea> <br> otp <br>
        <button type="submit">Verify</button>
    </form>
</body>

</html>