.dropdown select {
  display: none !important;
}

.dropdown:focus-within select {
  display: block !important;
}

.vl {
  border-left: 6px solid #B3B3B3;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -80px;
  top: 40px;
}
.v2 {
  border-left: 6px solid #B3B3B3;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 60px;
}