* {
    padding: 0;
    margin: 0; 
    font-family: 'poppins';
}
html {
    font-size: 62.5%; /* 1rem ==10px */
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}  

.body{
    padding: 3rem;
}
.image-row{
    display: flex;
    justify-content: space-evenly;
}
.list img{
    width: 5rem;
    height: 3rem;
}
.row{
    margin-bottom: 1rem;
}
#trust{
    font-weight: 1500;
}
.last img{
    width: 4rem;
}
@media screen and (max-width: 900px){
    .body{
        padding: 1rem;
    }
}