@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.faq-section{
    padding: 30px;
}

.faq-logo-wrapper{
    width: 20%;
    padding: 30px;
    margin: 0 auto;
}

.faq-logo-wrapper > img{
    width: 100%;
    height: 100%;
    
}

.faq-wrapper{
    width: 100%;
}

.faq-list{
    list-style: none;
    margin: 0 auto;
    width: 80%;
}

.faq-list-child{
    background: #F2F2F2;
    padding: 10px 20px;
    padding-right: 10px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.faq-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.faq-list-child h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
    color: #0199C6;
    padding-right: 15px;
}

.faq-func-icons{
    text-align: center;
}

.faq-func-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.faq-paragraph-text{
    color: #151515;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    font-size: 17px;
    display: none;
}

.faq-minus-icon{
    display: none;
}

.show-element{
    display: inline-block;
}

.hide-element{
    display: none;
}

@media screen and (max-width: 540px){
    .faq-logo-wrapper{
        width: 45%;
    }

    .faq-list{
        width: 100%;
    }

    .faq-list-child h2{
        font-size: 15px;
    }
}

