* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*  1rem == 10px */
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.footer {
  background-color: #002530;
  padding: 5.6rem 11.4rem;
  color: #ffff;
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
}

.footer__logo-box {
  width: 21rem;
  margin-bottom: 4.2rem;
}

.footer__logo {
  width: 100%;
  height: auto;
}
.footer__menu--list {
  display: flex;
  justify-content: space-between;
}

.footer__menu--list-items:not(:last-child) {
  margin-right: 8.4rem;
}
.footer__menu--header {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.footer__menu--list-items li {
  padding: 2.4rem 0;
}

.footer__horizontal::before {
  content: "";
  display: block;
  width: 130rem;
  margin: 4.2rem 0;
  border: 1px solid #b3b3b3;
}
.footer__menu2 {
  display: flex;
  justify-content: space-between;
}

.footer__menu--list2 {
  display: flex;
}

.footer__menu--list-6 {
  margin-top: 25rem;
}

.footer__menu--list-6 h4 {
  margin-bottom: -1rem;
}

.footer__social-list {
  display: flex;
}

.footer__social-list li {
  padding-right: 2rem;
}

.fa {
  font-size: 2.5rem;
}

.footer__menu--list2 {
  margin-bottom: 3rem;
}

.footer__menu--list2 li {
  padding-right: 8rem;
}

/* media query */

@media screen and (max-width: 1000px) {
  a {
    font-size: 1.4rem;
  }
  .footer {
    font-size: 1.4rem;
  }

  .footer__menu--header {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.8rem;
  }

  .footer__menu--list {
    flex-wrap: wrap;
  }

  .footer__menu--list2 {
    flex-wrap: wrap;
  }

  .footer__menu--list2 li {
    margin-bottom: 2rem;
  }

  .footer__horizontal::before {
    width: 80rem;
  }

  .footer__menu--list-6 {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 796px) {
  a {
    font-size: 1.2rem;
  }

  .footer {
    font-size: 1rem;
  }

  .footer__horizontal::before {
    width: 40rem;
  }

  .footer__menu--header {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  a {
    font-size: 1rem;
  }
  .footer {
    font-size: 1rem;
  }

  .footer__menu--list-items {
    flex-basis: 1rem;
  }

  .footer__menu--header {
    font-size: 1.4rem;
    line-height: 2.8rem;
    margin-bottom: 1.8rem;
  }

  .footer__horizontal::before {
    width: 30rem;
  }

  .footer__menu2 {
    justify-content: center;
  }
}
