body{
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}
/* html{
    font-size: 10rem;
} */
.nav-image{
    width: 17rem;
}
.link-1{
    color: white;
}
.button-1, .button-2{
    width: 13rem;
}
.button-2{
    border: 2px solid #01B7EE;
    color: #01B7EE;
    margin-left: 2rem;
}
.nav-item{
    color: black;
    font-weight: bolder;
}
.nav-item :hover{
    border-bottom: 5px solid #01B7EE ;
}
    

