.header-primary {
  display: flex;
  padding: 0 8rem;
  justify-content: space-between;
}

.header-primary-main {
  font-family: 'Panchang', sans-serif;
  font-size: 2rem;
  line-height: 3.5rem;
  letter-spacing: 4px;
  word-spacing: 1px;
  font-weight: 520;
}

.text2 {
  color: #01B7EE;
  font-weight: 1200;
}

.header-primary-sub {
  font-size: 1rem;
  width: 65%;
  margin-top: 1rem;
  color: #151515;
  font-weight: 500;
}

.header-primary-image {
  width: 65%;
}

.header-primary-image-style {
  width: 100%;
  height: 100%;
}

.header-button {
  display: flex;
  padding: 0 8rem;
}
.header-button-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 7rem;
  margin-top: 1rem;
}
.header-cta1:hover {
  width: 255px;
  color: white;
}
.header-cta2:hover {
  width: 255px;
  color: #01B7EE;
}

.header-cta1 {
  height: 45px;
  width: 250px;
  left: 10px;
  top: 835px;
  border-radius: 8px;
  padding: 16px, 48px, 16px, 48px;
  background-color: #01B7EE;
  font-size: 27px;
  font-weight: 800px;
  color: white;

}

.header-cta2 {
  height: 45px;
  width: 250px;
  left: 81px;
  top: 835px;
  border-radius: 8px;
  padding: 16px, 48px, 16px, 48px;
  border: 1px solid  #01B7EE;
  font-size: 27px;
  font-weight: 800p;
  color: #01B7EE;
  margin-left: 2rem;
}

.header-trust {
  padding-left: 8rem;
  margin-top: 7rem;
  text-align: center;
  position: relative;
  margin-bottom: 10rem;
}

.header-trust-text {
  font-weight: 600;
  position: absolute;
  left: 23%;
  top: -40%;
} 

.section1 {
  padding: 0 8rem;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  
}

.section1 h2 {
  margin-bottom: 4rem;
}

.section1 img {
  width: 90rem;
}

.section2-box {
  margin-top: 10rem;
  padding: 0 2rem;
}
.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9em;
}

.section2-col1 {
  width: 53%;
  position: relative;
  padding: 5rem 3rem;
}

.section2-header {
  color: #017a9f;
  font-family: "panchang", sans-serif;
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
}

.section2-text {
  font-size: 1.2rem;
  color: #3f3f3f;
  font-weight: 600;
}

.section2-svg {
  position: absolute;
  top: -20%;
  left: 79%;
  width: 14rem;
  z-index: 2;
}

.section2-col1-row1 {
  background-color: #f4fbfe;
}

.section2-2 {
  flex-direction: row-reverse;
}

.section2-col1-row2 {
  background-color: #f9fcf4;
}

.section2-col1-row3 {
  background-color: #fef4fb;
}

.section3 {
  background-color: #003d4f;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: #fff;
  padding: 4rem 6rem;
  width: fit-content;
}

.section3-col {
  margin-right: 5rem;
  padding:2rem 1rem;
}

.section3-header {
  margin-bottom: 1rem;
  margin-top: 2.4rem;
  font-size: 3rem;
}

.section3-text {
  width: 100%;
  font-size: 17px;
}

.section3-col-img {
  background-color: #fff;
  padding: 3.3rem;
  width: 12.8rem;
  height: 12.8rem;
}
.section3-col-img-style {
  width: 6.4rem;
}

.section4 {
  margin-top: 13rem;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4-row1 {
  text-align: center;
  color: #01B7EE;
  margin-bottom: 6rem;
  font-weight: 800;
}

.section4-row2 {
  width: 100%;
  margin-bottom: 10rem;
}

.section4-row2-img {
  width: 90%;
}
.section4-header {
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.section4-text {
  font-size: 1.2rem;
}

.section5 {
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
}

.section5-row {
  display: flex;
  background-color: #f8f8f5;
  margin-bottom: 10rem;
  padding: 6rem;
  border-radius: 3.2rem;
}

.section5-row2 {
  flex-direction: row-reverse;
}

.section5-row1-image,
.section5-row3-image {
  margin-right: 15rem;
}

.section5-text {
  font-size: 1.2rem;
}

.section5-sub-text {
  display: inline-block;
  margin-top: 8rem;
  font-weight: 600;
}

.section5-row2-image {
  margin-left: 15rem;
}

.section6 {
  display: flex;
  align-items: center;
  margin-top: 10rem;
  padding: 0 3rem;
}

.section6-text {
  margin-left: 2rem;
}

.section6-header {
  color: #0198c6;
  font-weight: 800;
  font-size: 2.5rem;
}
.button2{
  background-color: #01B7EE;
  padding: 0.4rem 2.5rem;
  color:white;
  border-radius: 6px;
}
.button3{
  border: 1px solid #01B7EE;
  color: #01B7EE;
  border-radius: 6px;
  padding: 0.4rem 2.5rem;
}
.a :hover{
  color:white !important;
}
/* media query */

@media screen and (max-width: 1025px) {

  .header-primary {
    padding: 0 4rem;
  }

  .header-primary-main {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

  .header-primary-sub {
    font-size: 1.6rem;
  }

  .header-primary-image {
    width: 90%;
  }

  .header-primary-image-style {
    width: 100%;
  }

  .header-button {
    padding: 0 4rem;
  }

  .header-button-cta {
    padding: 1rem 8rem;
    margin-top: 3rem;
  }

  .header-cta1 {
    margin-right: 3rem;
  }

  .header-trust {
    padding-left: 4rem;
  }

  .header-trust-text {
    left: 9%;
    top: -40%;
  } 

  .section1 {
    padding: 0 4rem;
    font-size: 2rem;
  }

  .section1 img {
    width: 80rem;
  }

  .section2-box {
    padding: 0 4rem;
  }

  .section2-col1 {
    padding: 5rem 2.5rem;
  }

  .section2-text {
    font-size: 1.6rem;
  }

  .section2-svg {
    width: 12rem;
  }

  .section2-col2 {
    width: 30rem;
  }

  .section2-img {
    width: 100%;
  }

  .section3 {
    padding: 7rem 4rem;
  }

  .section3-col {
    margin-right: 4rem;
    padding: 4rem;
  }

  .section3-col {
    padding: 4rem;
    margin-right: 4rem;
  }

  .section3-text {
    width: 90%;
  }

  .section3-col-img {
    padding: 3rem;
    width: 11rem;
    height: 11rem;
  }

  .section3-col-img-style {
    width: 5rem;
  }

  .section4 {
    padding: 0 4rem;
  }

  .section4-row2 {
    width: 80rem;
  }

  .section4-header {
    font-size: 2.4rem;
  }

  .section4-text {
    font-size: 1.6rem;
  }

  .section5 {
    padding: 0 4rem;
  }

  .section5-row {
    padding: 4rem;
  }

  .section5-row1-image,
  .section5-row3-image {
    margin-right: 12rem;
  }

  .section5-text {
    font-size: 1.6rem;
  }

  .section5-row2-image {
    margin-left: 12rem;
  }

  .section6 {
    padding: 0 4rem;
  }

  .section6-text {
    margin-left: 12rem;
  }

  .section6-header {
    font-size: 3rem;
  }

  .section6-image {
    width: 60rem;
  }

  .section6-image-style {
    width: 100%;
  }
}

@media screen and (max-width: 796px) {
  /* .nav-logo-style {
    width: 13rem;
  }
  .nav {
    padding: 2rem 2rem;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .nav-btn {
    font-size: 1.4rem;
    padding: 1rem;
  } */

  .header-primary {
    padding: 0 2rem;
  }

  .header-primary-main {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

  .header-primary-sub {
    font-size: 1.4rem;
  }

  .header-primary-image {
    width: 90%;
  }

  .header-button {
    padding: 0 3rem;
  }

  .header-button-cta {
    padding: 1rem 6rem;
    margin-top: 3rem;
  }

  .header-cta1 {
    margin-right: 2.5rem;
  }

  .header-trust {
    padding-left: 2rem;
  }

  .header-trust-text {
    left: 3%;
    top: -40%;
  } */

  .section1 {
    padding: 0 2rem;
    font-size: 1.6rem;
  }

  .section1 img {
    width: 60rem;
  }

  .section2-box {
    padding: 0 2rem;
  }

  .section2-col1 {
    padding: 4rem 2rem;
  }

  .section2-text {
    font-size: 1.6rem;
  }

  .section2-svg {
    top: -10%;
    left: 85%;
    width: 12rem;
  }

  .section2-col2 {
    width: 25rem;
  }

  .section3 {
    padding: 7rem 2rem;
  }

  .section3-col {
    margin-right: 4rem;
    padding: 4rem;
  }

  .section3-col {
    padding: 4rem;
    margin-right: 4rem;
  }

  .section3-col-img {
    padding: 2.5rem;
    width: 10rem;
    height: 10rem;
  }

  .section3-col-img-style {
    width: 4rem;
  }

  .section4 {
    padding: 0 2rem;
  }

  .section4-row2 {
    width: 70rem;
  }

  .section4-header {
    font-size: 2rem;
  }

  .section4-text {
    font-size: 1.4rem;
  }

  .section5 {
    padding: 0 2rem;
  }

  .section5-row {
    padding: 2rem;
  }

  .section5-row1-image,
  .section5-row3-image {
    margin-right: 10rem;
  }

  .section5-text {
    font-size: 1.4rem;
  }

  .section5-row2-image {
    margin-left: 10rem;
  }

  .section6 {
    padding: 0 2rem;
    margin-top: 5rem;
  }

  .section6-text {
    margin-left: 10rem;
  }

  .section6-header {
    font-size: 2rem;
  }

  .section6-image {
    width: 50rem;
  }
}

/*Stying for small screens*/
@media screen and (max-width: 600px) {
   .header-primary {
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
  }

  .header-primary-main {
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 2px;
    word-spacing: 2px;
  }
  .header-primary-sub {
    font-size: 1.2rem;
  }

  .header-primary-image {
    width: 50%;
    margin-top: 2rem;
  }

  .header-button {
    padding: 0 1.5rem;
  }

  .header-button-cta {
    padding: 0.8rem 2rem;
    margin-top: 3rem;
  }

  .header-trust {
    margin-top: 5rem;
    text-align: left;
    margin-bottom: 5rem;
  }

  .header-cta1 {
    margin-right: 2rem;
  }

  .header-trust-img {
    width: 25rem;
  }

  .header-trust-text {
    position: relative;
  } 

  .section1 {
    font-size: 1.4rem;
  }

  .section1-header {
    font-size: 1.5rem;
  }

  .section1 img {
    width: 25rem;
    margin-top: -1rem;
  }

  .section2-1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .section2-2,
  .section2-3 {
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10rem;
  }

  .section2-col1 {
    padding: 2rem 1rem;
    width: 90%;
  }

  .section2-header {
    font-size: 1.4rem;
  }

  .section2-text {
    font-size: 1.2rem;
  }

  .section2-col2 {
    align-self: center;
    margin-top: 2rem;
  }

  .section2-svg {
    width: 8rem;
  }

  .section3 {
    flex-direction: column;
    padding: 3rem 0;
    margin-top: -2rem;
  }

  .section3-text {
    width: 100%;
  }

  .section3-col {
    width: 100%;
    margin-right: 0;
    padding: 2rem;
  }

  .section3-col-img {
    padding: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
  }

  .section3-col-img-style {
    width: 2rem;
  }

  .section3-header {
    font-size: 1.6rem;
  }

  .section3-text {
    font-size: 1.4rem;
  }

  .section4 {
    margin-top: 6rem;
  }

  .section4-row2 {
    margin-top: -7rem;
  }

  .section4-row2-img {
    display: none;
  }

  .section5-row {
    margin-bottom: 7rem;
    flex-direction: column;
  }

  .section5-row1-image,
  .section5-row3-image {
    margin-right: 0rem;
    margin-bottom: 4rem;
  }

  .section5-row2-image {
    margin-left: 0;
    margin-bottom: 4rem;
  }

  .section5-text {
    font-size: 1.4rem;
  }

  .section6 {
    flex-direction: column-reverse;
    justify-items: center;
  }

  .section6-image {
    width: 30rem;
  }

  .section6-image-style {
    width: 100%;
  }

  .section6-text {
    margin-left: 0;
  }
}
