/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    font-size: 62.5%; /* 1rem ==10px *
} 



ul{
    color: #000 !important;
}

.btn-1{
    background-color: #017A9F;
    border-radius: 8px;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;
    border: 1px solid #017A9F;

}

.btn-1:hover{
    background: #017A9F;
}

.btn-2{
    color: #017A9F;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #017A9F;
    align-items: center;
    padding: 16px 48px;
    gap: 10px;

}

.our-service{
    color: #017A9F ;
}

.card-text > h3{
    color: #017A9F
}
.card-text > p{
    color: #3F3F3F;
}
.card-text{
    width: 300px;
}
.card-text-2{
    min-width: 350px;
    max-width: 500px;
}

.card-text-2 > h3{
    color: #017A9F
}
.card-text-2 > p{
    color: #3F3F3F;
}

.btn-2{
    background: #0198C6;
}

.btn-1{
    color: #0198C6;
}

.btn-parent{
    margin-left: 30px!important;
}

.btn-parent>.btn-2:hover{
    background: #017A9F;
}
 */
.fm-Excon{
    font-weight: 900;
}
.our-service{
    font-size: 32px;
    color: #017A9F;
}
.facilitate{
    font-size: 20px;
    margin-top: 0.5rem;
}
.fs-2 , .fs-1  {
    color: #017A9F;
}
.buttons-1{
    border: 1px solid #01B7EE;
    color:#01B7EE;
    text-align: center;
    margin-left: 2rem;
}
.buttons-2{
    background-color: #01B7EE;
    color: white;
    text-align: center;
}