* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media only screen and (min-width: 550px) {
  /* Header styling starts here */
  header div {
    margin-top: 15px;
  }
  .logoimg {
    width: 150px;
    margin: 25px 0px 0px 30px;
  }
  .lang {
    float: right;
    width: 20px;
    margin-top: 25px;
    margin-right: 150px;
    filter: invert(48%) sepia(76%) saturate(4855%) hue-rotate(168deg)
      brightness(99%) contrast(99%);
  }
  header div a {
    margin-top: -60px;
    margin-right: 40px;
    float: right;
    padding: 5px 15px 5px 15px;
    border: 1px solid #0199c6;
    border-radius: 5px;
    color: #0199c6;
    font-size: 17px;
    font-family: "Poppins";
    font-style: normal;
    line-height: 150%;
  }

  /* Main styling starts here */
  form {
    text-align: center;
    margin-top: -70px;
  }
  .h2div {
    margin: 100px 0px 0px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    font-size: 16px;
  }
  .usernamediv {
    padding: 0;
  }
  .namep {
    display: block;
    margin: 10px 305px -0px 0px;
    font-size: 16px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
  }
  .usernamediv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 370px;
    height: 35px;
    border-radius: 3px;
    padding-left: 10px;
  }
  .emaildiv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 370px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .emailp {
    display: block;
    margin: 10px 297px 0px 0px;
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
  }
  .passdiv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 370px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .passp {
    display: block;
    margin: 10px 307px -0px 0px;
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
  }

  /* Password eye styling */
  .eye {
    position: absolute;
    margin: 10px 0px 0px -30px;
  }
  #hide1 {
    display: none;
  }

  .getbutton {
    width: 370px;
    height: 35px;
    margin-top: 20px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background-color: #0199c6;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
  }
  .firstcheckbox {
    margin-top: 20px;
    margin-right: 23px;
  }
  .checkbox {
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
  }
  .checkbox__input {
    display: none;
  }
  .checkbox__box {
    width: 1.25em;
    width: 1.25em;
    border: 1px solid#000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
  }
  .checkbox__box::after {
    content: "\2714";
    color: #fff;
  }
  .checkbox__input:checked + .checkbox__box {
    background: #0199c6;
    border-color: #0199c6;
  }
  .secondcheckbox {
    margin-top: 7px;
    margin-right: 23px;
  }
  .checkbox2 {
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
  }
  .checkbox__input2 {
    display: none;
  }
  .checkbox__box2 {
    width: 1.25em;
    width: 1.25em;
    border: 1px solid#000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
  }
  .checkbox__box2::after {
    content: "\2714";
    color: #fff;
  }
  .checkbox__input2:checked + .checkbox__box2 {
    background: #0199c6;
    border-color: #0199c6;
  }
  .orsignupwith {
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
  }

  .googlesignUp {
    color: #0199c6;
    width: 370px;
    height: 33px;
    border: 1.8px solid #0199c6;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
  }
  .googlesignUp img {
    width: 15px;
    margin: 0px 0px 0px -30px;
    position: absolute;
  }
  .applesignUP {
    color: #0199c6;
    width: 370px;
    height: 33px;
    border: 1.8px solid #0199c6;
    border-radius: 5px;
    margin-left: -370px;
    margin-top: 65px;
    position: absolute;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
  }
  .applesignUP img {
    width: 18px;
    margin: 0px 0px 0px -30px;
    position: absolute;
  }
}

/* Mobile view design */
@media screen and (max-width: 550px) {
    .wrapper {
        width: 375px;
        margin: 0 auto;
      }
  /* Header styling starts here */
  header div {
    margin-top: 15px;
  }
  .logoimg {
    width: 150px;
    margin: 15px 0px 0px 5px;
  }
  .lang {
    float: right;
    width: 20px;
    margin-top: 25px;
    margin-right: 105px;
    filter: invert(48%) sepia(76%) saturate(4855%) hue-rotate(168deg)
      brightness(99%) contrast(99%);
  }
  header div a {
    margin-top: -50px;
    margin-right: 10px;
    float: right;
    padding: 5px 15px 5px 15px;
    border: 1px solid #0199c6;
    border-radius: 5px;
    color: #0199c6;
    font-size: 17px;
    font-family: "Poppins";
    font-style: normal;
    line-height: 150%;
  }

  /* Main styling starts here */
  form {
    text-align: center;
    margin-top: -70px;
    width: 360px;
    margin-left: 5px
  }
  .h2div {
    margin: 100px 0px 0px 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    font-size: 16px;
  }
  .usernamediv {
    padding: 0;
  }
  .namep {
    display: block;
    margin: 10px 268px -0px -5px;
    font-size: 15px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
    font-weight: 430;
  }
  .usernamediv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 340px;
    height: 35px;
    border-radius: 3px;
    padding-left: 10px;
  }
  .emaildiv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 340px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .emailp {
    display: block;
    margin: 10px 262px 0px -8px;
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
    font-weight: 430;
  }
  .passdiv input {
    outline: 0;
    border: 1px solid rgb(183, 192, 196);
    width: 340px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
  }
  .passp {
    display: block;
    margin: 10px 276px -0px 0px;
    font-size: 14px;
    font-family: "Poppins";
    font-style: normal;
    padding: 5px;
    line-height: 150%;
    font-weight: 430;
  }

  /* Password eye styling */
  .eye {
    position: absolute;
    margin: 10px 0px 0px -30px;
  }
  #hide1 {
    display: none;
  }

  .getbutton {
    width: 315px;
    height: 35px;
    margin-top: 20px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    background-color: #0199c6;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
  }
  .firstcheckbox {
    margin-top: 20px;
  }
  .checkbox {
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    font-weight: 430;
  }
  .checkbox__input {
    display: none;
  }
  .checkbox__box {
    width: 1.25em;
    width: 1.25em;
    border: 1px solid#000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
  }
  .checkbox__box::after {
    content: "\2714";
    color: #fff;
  }
  .checkbox__input:checked + .checkbox__box {
    background: #0199c6;
    border-color: #0199c6;
  }
  .secondcheckbox {
    margin-top: 12px;
  }
  .checkbox2 {
    display: inline-flex;
    cursor: pointer;
    height: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 13.7px;
    line-height: 150%;
    font-weight: 430;
  }
  .checkbox__input2 {
    display: none;
  }
  .checkbox__box2 {
    width: 1.25em;
    width: 1.25em;
    border: 1px solid#000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
  }
  .checkbox__box2::after {
    content: "\2714";
    color: #fff;
  }
  .checkbox__input2:checked + .checkbox__box2 {
    background: #0199c6;
    border-color: #0199c6;
  }
  .orsignupwith {
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    font-weight: 300;
  }

  .googlesignUp {
    color: #0199c6;
    width: 300px;
    height: 33px;
    border: 1.8px solid #0199c6;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
  }
  .googlesignUp img {
    width: 15px;
    margin: 3px 0px 0px -25px;
    position: absolute;
  }
  .applesignUP {
    color: #0199c6;
    width: 300px;
    height: 33px;
    border: 1.8px solid #0199c6;
    border-radius: 5px;
    margin-left: -300px;
    margin-top: 65px;
    padding-left: 20px;
    position: absolute;
    cursor: pointer;
    font-family: "Poppins";
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
  }
  .applesignUP img {
    width: 18px;
    margin: 0px 0px 0px -25px;
    position: absolute;
  }
}