* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1300px) { 
.auth-wiki-logo {
    display: none;
}
.first-para {
    margin-top: 20px;
    text-align: center;
    color: #01B7EE;
    font-family: "Poppins", sans-serif;
}
.first-h2 {
    margin-top: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.second-para {
    margin-top: 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.meet-and-see-div {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    line-height: 20px;
}
.meet-para {
    color: #FFFFFF;
    background-color: #01B7EE;
    padding: 5px 10px 0px 5px;
    width: 150px;
    height: 30px;
    margin: 0 15px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.see-para {
    color: #01B7EE;
    padding: 4px 10px 0px 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #01B7EE;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.uni-easy-universal-accessible-div {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.first-uni-div {
    display: flex;
}
.first-uni-div img {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    padding: 5px;
}
.easy-span {
    width: 300px;
    margin: 0 15px;
    font-family: "Poppins", sans-serif;
}
#uni-img {
    margin-left: 90px;
}
#easy-img {
    margin-left: 70px;
}
.easy-para {
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
}

.our-passionate-team {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    font-family: "Poppins", sans-serif;
}

.first-team-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.first-team-div img {
    width: 140px;
}

/* giwa image styling */
.person1 {
    margin: 0 85px;
    width: 150px;
}
.person1 img {
    background-color: #01B7EE;
    border-radius: 70px;
}
.person1 p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 750;
    margin-left: 15px;
}

.person1 p span {
    font-size: 12px;
    /* font-weight: 500; */
    margin: 5px 0px 0px 10px;
}

/* Michael image styling */
.person2 {
    margin: 0 45px;
    width: 150px;
}
.person2 img {
    background-color: yellow;
    border-radius: 70px;
    height: 140px;
}
.person2 p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin-left: 27px;
}

.person2 p span {
    font-size: 12px;
    margin: 5px 0px 0px 13px;
}

/* Destiny image styling */
.person3 {
    margin: 0 65px;
    width: 150px;
}
.person3 img {
    background-color: orangered;
    border-radius: 70px;
    height: 140px;
}
.person3 p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin-left: 11px;
}

.person3 p span {
    font-size: 12px;
    margin: 5px 0px 0px 2px;
}

/* Odewumi image styling */
.person4 {
    margin: 0 25px;
    width: 150px;
}
.person4 img {
    background-color: rgb(235, 98, 121);
    border-radius: 70px;
}
.person4 p {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.person4 p span {
    font-size: 12px;
    margin: 5px 0px 0px 20px;
}

/* last  team line */
.last-team-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.last-team-div img {
    width: 130px;
}

/* Tomilola image styling */
.person-one {
    margin: 0 65px;
    width: 70px;
}
.person-one img {
    background-color: rgb(211, 48, 48);
    border-radius: 70px;
}
.person-one p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    margin: 7px 0px 0px 7px;
}

.person-one p span {
    font-size: 12px;
    margin: 5px 0px 0px 35px;
}

/* Yakubu image styling */
.person-two {
    margin: 0 45px;
    width: 70px;
}
.person-two img {
    background-color: rgb(228, 37, 94);
    border-radius: 70px;
}
.person-two p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    margin: 7px 0px 0px -6px;
}

.person-two p span {
    font-size: 12px;
    margin: 5px 0px 0px 37px;
}

/* Olatunde image styling */
.person-three {
    margin: 0 65px;
    width: 80px;
}
.person-three img {
    background-color: #31cc91;
    border-radius: 70px;
}
.person-three p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    margin: 7px 0px 0px 10px;
}

.person-three p span {
    font-size: 11px;
    margin: 5px 0px 0px 23px;
}

/* Osomhe image styling */
.person-four {
    margin: 0 25px;
    width: 120px;
}
.person-four img {
    background-color: rgb(29, 25, 25);
    border-radius: 70px;
}
.person-four p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    margin: 7px 0px 0px 17px;
}

.person-four p span {
    font-size: 12px;
    margin: 5px 0px 0px 14px;
}

/* Taiwo image styling */
.person-five {
    margin: 0 25px
}
.person-five img {
    background-color: rgb(206, 73, 73);
    border-radius: 70px;
}
.person-five p {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    margin: 7px 0px 0px 26px;
}

.person-five p span {
    font-size: 12px;
    margin: 5px 0px 0px 25px;
}


/* giving each image background color */


/* second row */
#boluwatife {
    background-color: #5e338f;
}
#boluwatife-p {
    font-size: 16px;
    margin-left: 10px;
}
#boluwatife-span {
    font-size: 12px;
    margin-left: 37px;
}


#bolaji {
    background-color: rgb(59, 236, 53);
}
#bolaji-p {
    font-size: 16px;
    margin-left: 13px;
}
#bolaji-span {
    font-size: 12px;
    margin-left: 25px;
}


#unuofin {
    background-color: antiquewhite;
}
#unuofin-p {
    font-size: 16px;
    margin-left: 16px;
}
#unuofin-span {
    font-size: 12px;
    margin-left: 35px;
}

#babarinde {
    background-color: #FFFFFF;
}
#babarinde-p {
    font-size: 16px;
    margin-left: 12px;
}
#babarinde-span {
    font-size: 12px;
    margin-left: 30px;
}

/* third row */
#olaniyan {
    background-color: green;
}
#olaniyan-p {
    font-size: 16px;
    margin-left: 12px;
}
#olaniyan-span {
    font-size: 12px;
    margin-left: 25px;
}

#dorcas {
    background-color: rgb(221, 36, 98);
}
#dorcas-p {
    font-size: 16px;
    margin-left: 15px;
}
#dorcas-span {
    font-size: 12px;
    margin-left: 35px;
}

#edidiong {
    background-color: #4f1361;
}
#edidiong-p {
    font-size: 16px;
    margin-left: 20px;
}
#edidiong-span {
    font-size: 12px;
    margin-left: 20px;
}

#genevieve {
    background-color: #000;
}

#genevieve-span {
    font-size: 12px;
    margin-left: 50px;
}

/* Forth row */
#oluwakemi {
    background-color: #000;
}
#oluwakemi-p {
    font-size: 16px;
    margin-left: 5px;
}
#oluwakemi-span {
    font-size: 12px;
    margin-left: 45px;
}

#oluwatosin {
    background-color: #31cc91;
}
#oluwatosin-p {
    font-size: 16px;
    margin-left: 3px;
}
#oluwatosin-span {
    font-size: 12px;
    margin-left: 35px;
}

#obiji {
    background-color: #b349d3;
}
#obiji-p {
    font-size: 16px;
    margin-left: 15px;
}
#obiji-span {
    font-size: 12px;
    margin-left: 40px;
}

#moboluwarin {
    background-color: rgb(240, 238, 238);
}
#moboluwarin-p {
    font-size: 16px;
    margin-left: 3px; 
}
#moboluwarin-span {
    font-size: 12px;
    margin-left: 40px;
}

/* Fifth row */
#collins {
    background-color: rgb(19, 19, 138);
}
#collins-p {
    font-size: 16px;
    margin-left: 10px;
}
#collins-span {
    font-size: 12px;
    margin-left: 30px;
}

#ebi {
    background-color: rgb(201, 24, 83);
}
#ebi-p {
    font-size: 16px;
    margin-left: 25px;
}
#ebi-span {
    font-size: 12px;
    margin-left: 30px;
}

#okwor {
    background-color: orange;
}
#okwor-p {
    font-size: 16px;
    margin-left: 20px;
}
#okwor-span {
    font-size: 12px;
    margin-left: 20px;
}

#olaiya {
    background-color: brown;
}
#olaiya-p {
    font-size: 16px;
    margin-left: -15px;
}
#olaiya-span {
    font-size: 12px;
    margin-left: 70px;
}


/* Footer styling starts */

.investor-div {
    margin-top: 40px;
    background-color: #003D4F;
    height: 400px;
    text-align: center;
}
.investor-div h2 {
    color: #FFFFFF;
    padding-top: 50px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}
.zuri-logo {
    width: 200px;
    background-color: #FFFFFF;
    height: 200px;
    border-radius: 100px;
    padding: 20px;
    margin-left: 50px;
    margin-top: 60px;
}
.i4g-logo {
    width: 200px;
    background-color: #FFFFFF;
    height: 200px;
    border-radius: 100px;
    padding: 20px;
    margin-left: 30rem;
}

footer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 100px;
    margin-top: 80px;
}
footer h2 {
    margin-left: 30px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
footer a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #01B7EE;
    padding: 5px 20px 0px 20px;
    border-radius: 3px;
    margin-right: 40px;
    height: 35px;
    font-family: "Poppins", sans-serif;
}

/* break hide */
.mobile {
    display: none;
}
}


/* Tablet View */
@media only screen and (max-width: 1300px) and (min-width: 653px) {
    .auth-wiki-logo {
        display: none;
    }
    .first-para {
        margin-top: 20px;
        text-align: center;
        color: #01B7EE;
        font-family: "Poppins", sans-serif;
    }
    .first-h2 {
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    .second-para {
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    .meet-and-see-div {
        display: flex;
        
        margin-top: 50px;
        /* align-items: center; */
        justify-content: center;
        line-height: 20px;
    }
    .meet-para {
        color: #FFFFFF;
        background-color: #01B7EE;
        padding: 5px 10px 0px 5px;
        width: 150px;
        height: 30px;
        margin: 0 15px;
        text-align: center;
        border-radius: 3px;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }
    .see-para {
        color: #01B7EE;
        padding: 4px 10px 0px 5px;
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #01B7EE;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }
    .uni-easy-universal-accessible-div {
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    .first-uni-div img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        padding: 5px;
    }
    .easy-span {
        margin: 0 15px;
    }

    .easy-para {
        margin-top: 5px;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
    }
    
    .our-passionate-team {
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;
        font-family: "Poppins", sans-serif;
    }
    
    .first-team-div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .first-team-div img {
        width: 100px;
    }
    
    /* giwa image styling */
    .person1 {
        margin: 0 55px;
        width: 50px;
    }
    .person1 img {
        background-color: #01B7EE;
        border-radius: 100px;
    }
    .person1 p {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 750;
        margin-left: 6px;
        width: 100px;
    }
    
    .person1 p span {
        font-size: 10px;
        margin: 5px 0px 0px 5px;
    }
    
    /* Michael image styling */
    .person2 {
        margin: 0 45px;
        width: 50px;
    }
    .person2 img {
        background-color: yellow;
        border-radius: 100px;
        height: 100px;
    }
    .person2 p {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 600;
        margin-left:12px;
        width: 100px;
    }
    
    .person2 p span {
        font-size: 10px;
        margin: 5px 0px 0px 10px;
    }
    
    /* Destiny image styling */
    .person3 {
        margin: 0 65px;
        width: 50px;
    }
    .person3 img {
        background-color: orangered;
        border-radius: 70px;
        height: 100px;
    }
    .person3 p {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 600;
        margin-left: 1px;
        width: 100px;
    }
    
    .person3 p span {
        font-size: 10px;
        margin: 5px 0px 0px 0px;
    }
    
    /* Odewumi image styling */
    .person4 {
        margin: 0 25px;
        width: 150px;
    }
    .person4 img {
        background-color: rgb(235, 98, 121);
        border-radius: 70px;
    }
    .person4 p {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: 600;
        margin-left: 5px;
        width: 100px;
    }
    
    .person4 p span {
        font-size: 10px;
        margin: 5px 0px 0px 10px;
    }
    
    /* last  team line */
    .last-team-div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .last-team-div img {
        width: 130px;
    }
    
    /* Tomilola image styling */
    .person-one {
        margin: 0 5px;
        width: 20px;
    }
    .person-one img {
        background-color: rgb(211, 48, 48);
        border-radius: 70px;
        width: 90px;
    }
    .person-one p {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 600;
        width: 200px;
        margin: 7px 0px 0px -7px;
    }
    
    .person-one p span {
        font-size: 9px;
        margin: 5px 0px 0px 30px;
    }
    
    /* Yakubu image styling */
    .person-two {
        margin: 0 85px;
        width: 70px;
    }
    .person-two img {
        background-color: rgb(228, 37, 94);
        border-radius: 70px;
        width: 90px;
    }
    .person-two p {
        display: flex;
        flex-direction: column;
        font-size: 9px;
        font-weight: 600;
        width: 200px;
        margin: 7px 0px 0px -6px;
    }
    
    .person-two p span {
        font-size: 8px;
        margin: 5px 0px 0px 25px;
    }
    
    /* Olatunde image styling */
    .person-three {
        margin: 0 -45px;
        width: 90px;
    }
    .person-three img {
        background-color: #31cc91;
        border-radius: 70px;
        width: 90px;
    }
    .person-three p {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 600;
        width: 200px;
        margin: 7px 0px 0px 10px;
    }
    
    .person-three p span {
        font-size: 8px;
        margin: 5px 0px 0px 15px;
    }
    
    /* Osomhe image styling */
    .person-four {
        margin: -0px;
        width: 120px;
    }
    .person-four img {
        background-color: rgb(29, 25, 25);
        border-radius: 70px;
        width: 90px;
        margin-left: 70px;
    }
    .person-four p {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 600;
        margin: 7px 0px 0px 76px;
        width: 80px
    }
    
    .person-four p span {
        font-size: 8px;
        margin: 5px 0px 0px 14px;
    }
    
    /* Taiwo image styling */
    .person-five {
        margin: 0 55px
    }
    .person-five img {
        background-color: rgb(206, 73, 73);
        border-radius: 70px;
        width: 90px;
    }
    .person-five p {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        font-weight: 600;
        margin: 7px 0px 0px 10px;
    }
    
    .person-five p span {
        font-size: 9px;
        margin: 5px 0px 0px 20px;
    }
    
    
    /* giving each image background color */
    
    
    /* second row */
    #boluwatife {
        background-color: #5e338f;
    }
    #boluwatife-p {
        width: 100px;
        font-size: 13px;
        margin-left: 0px;
    }
    #boluwatife-span {
        font-size: 12px;
        margin-left: 30px;
    }
    
    
    #bolaji {
        background-color: rgb(59, 236, 53);
    }
    #bolaji-p {
        font-size: 13px;
        margin-left: 1px;
        width: 100px;
    }
    #bolaji-span {
        font-size: 10px;
        margin-left: 20px;
    }
    
    
    #unuofin {
        background-color: antiquewhite;
    }
    #unuofin-p {
        font-size: 13px;
        margin-left: 5px;
        width: 100px;
    }
    #unuofin-span {
        font-size: 10px;
        margin-left: 25px;
    }
    
    #babarinde {
        background-color: #FFFFFF;
    }
    #babarinde-p {
        font-size: 12px;
        margin-left: 4px;
        width: 100px;
    }
    #babarinde-span {
        font-size: 10px;
        margin-left: 20px;
    }
    
    /* third row */
    #olaniyan {
        background-color: green;
    }
    #olaniyan-p {
        font-size: 13px;
        margin-left: 5px;
        width: 100px;
    }
    #olaniyan-span {
        font-size: 10px;
        margin-left: 16px;
    }
    
    #dorcas {
        background-color: rgb(221, 36, 98);
    }
    #dorcas-p {
        font-size: 13px;
        margin-left: 6px;
        width: 100px;
    }
    #dorcas-span {
        font-size: 10px;
        margin-left: 30px;
    }
    
    #edidiong {
        background-color: #4f1361;
    }
    #edidiong-p {
        font-size: 13px;
        margin-left: 8px;
        width: 100px;
    }
    #edidiong-span {
        font-size: 10px;
        margin-left: 14px;
    }
    
    #genevieve {
        background-color: #000;
    }
    #genevieve-p {
        font-size: 13px;
        margin-left: 0px;
        width: 120px;
    }
    #genevieve-span {
        font-size: 10px;
        margin-left: 35px;
    }
    
    /* Forth row */
    #oluwakemi {
        background-color: #000;
    }
    #oluwakemi-p {
        font-size: 13px;
        margin-left: -5px;
        width: 110px;
    }
    #oluwakemi-span {
        font-size: 10px;
        margin-left: 38px;
    }
    
    #oluwatosin {
        background-color: #31cc91;
    }
    #oluwatosin-p {
        font-size: 13px;
        margin-left: -3px;
        width: 110px;
    }
    #oluwatosin-span {
        font-size: 10px;
        margin-left: 27px;
    }
    
    #obiji {
        background-color: #b349d3;
    }
    #obiji-p {
        font-size: 13px;
        margin-left: 5px;
        width: 100px;
    }
    #obiji-span {
        font-size: 10px;
        margin-left: 30px;
    }
    
    #moboluwarin {
        background-color: rgb(240, 238, 238);
    }
    #moboluwarin-p {
        font-size: 13px;
        margin-left: -3px;
        width: 120px; 
    }
    #moboluwarin-span {
        font-size: 10px;
        margin-left: 30px;
    }
    
    /* Fifth row */
    #collins {
        background-color: rgb(19, 19, 138);
    }
    #collins-p {
        font-size: 13px;
        margin-left: 5px;
        width: 100px;
    }
    #collins-span {
        font-size: 10px;
        margin-left: 23px;
    }
    
    #ebi {
        background-color: rgb(201, 24, 83);
    }
    #ebi-p {
        font-size: 13px;
        margin-left: 13px;
    }
    #ebi-span {
        font-size: 10px;
        margin-left: 23px;
    }
    
    #okwor {
        background-color: orange;
    }
    #okwor-p {
        font-size: 13px;
        margin-left: 8px;
    }
    #okwor-span {
        font-size: 10px;
        margin-left: 15px;
    }
    
    #olaiya {
        background-color: brown;
    }
    #olaiya-p {
        font-size: 13px;
        margin-left: -15px;
        width: 140px;
    }
    #olaiya-span {
        font-size: 10px;
        margin-left: 50px;
    }
    
    
    /* Footer styling starts */
    
    .investor-div {
        margin-top: 40px;
        background-color: #003D4F;
        height: 450px;
        text-align: center;
    }
    .investor-div h2 {
        color: #FFFFFF;
        padding-top: 50px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
    }
    .zuri-logo {
        width: 160px;
        background-color: #FFFFFF;
        height: 160px;
        border-radius: 100px;
        padding: 20px;
        margin-left: 0px;
        margin-top: 60px;
    }
    .i4g-logo {
        width: 160px;
        background-color: #FFFFFF;
        height: 160px;
        border-radius: 100px;
        padding: 20px;
        margin-left: 50px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        height: 100px;
        margin-top: 80px;
    }
    footer h2 {
        margin-left: 30px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }
    footer a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #01B7EE;
        padding: 5px 20px 0px 20px;
        border-radius: 3px;
        margin-right: 30px;
        height: 30px;
        font-family: "Poppins", sans-serif;
    }
}

/* Mobile View */
@media only screen and (max-width: 653px) {
    .wrapper {
        width: 375px;
        margin: 0 auto;
    }

    /* break hide */
    .desktop {
        display: none;
    }

    .logo-div {
        text-align: center;
    }
    .auth-wiki-logo {
        width: 200px;
        margin-top: 20px;
    }
    .first-para {
        margin-top: 20px;
        text-align: center;
        color: #01B7EE;
        font-family: "Poppins", sans-serif;
    }
    .first-h2 {
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    .second-para {
        margin-top: 20px;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
    .meet-and-see-div {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        line-height: 20px;
    }
    .meet-para {
        color: #FFFFFF;
        background-color: #01B7EE;
        padding: 5px 10px 0px 5px;
        width: 150px;
        height: 30px;
        margin: 0 15px;
        text-align: center;
        border-radius: 3px;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }
    .see-para {
        color: #01B7EE;
        padding: 4px 10px 0px 5px;
        width: 150px;
        height: 30px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #01B7EE;
        font-size: 15px;
        font-family: "Poppins", sans-serif;
    }

    .uni-easy-universal-accessible-div {
        margin-top: 50px;
    }
    .first-uni-div img {
        width: 30px;
        height: 30px;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 10px;
    }
    .easy-span {
        width: 300px;
        margin: 0 15px;
        font-family: "Poppins", sans-serif;
    }

    .easy-para {
        margin-top: 5px;
        padding-bottom: 10px;
        font-family: "Poppins", sans-serif;
    }

    .our-passionate-team {
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;
        font-family: "Poppins", sans-serif;
    }

    /* Team image styling */

    /* Giwa */
    #kausarat {
        width: 140px;
        background-color: #01B7EE;
        border-radius: 70px;
        margin-top: 20px;
    }
    #kausarat-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #kausarat-span{
        font-size: 12px;
        margin: 5px 0px 0px 4px;
    }

    /* Michael */
    .person2 {
        float: right;
        margin-top: -185px;

    }
    #michael {
        width: 140px;
        background-color: yellow;
        border-radius: 70px;
    }
    #michael-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 25px;
        }
    #michael-span {
        font-size: 12px;
        margin: 5px 0px 0px 13px;
    }
    
    /* new */
    #destiny {
        width: 140px;
        background-color: orangered;
        border-radius: 70px;
        margin-top: 20px;
    }
    #destiny-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #destiny-span {
        font-size: 12px;
        margin: 5px 0px 0px 4px;
    }

    .person4 {
        float: right;
        margin-top: -180px;
    }
    #odewumi {
        width: 140px;
        background-color: rgb(235, 98, 121);
        border-radius: 70px;
    }
    #odewumi-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #odewumi-span {
        font-size: 12px;
        margin: 5px 0px 0px 16px;
    }

    /* new */
    #boluwatife {
        width: 140px;
        background-color: #5e338f;
        border-radius: 70px;
        margin-top: 25px;
    }
    #boluwatife-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #boluwatife-span {
        font-size: 12px;
        margin: 5px 0px 0px 34px;
    }

    /*  */
    #bolaji {
        width: 140px;
        background-color: rgb(59, 236, 53);
        border-radius: 70px;
        height: 140px;
    }
    #bolaji-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #bolaji-span {
        font-size: 12px;
        margin: 5px 0px 0px 20px;
    }

    /* new */
    #unuofin {
        width: 140px;
        background-color: antiquewhite;
        border-radius: 70px;
        margin-top: 25px;
    }
    #unuofin-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #unuofin-span {
        font-size: 12px;
        margin: 5px 0px 0px 34px;
    }
    /*  */
    #babarinde {
        width: 140px;
        background-color: #FFFFFF;
        border-radius: 70px;
        height: 140px;
    }
    #babarinde-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #babarinde-span {
        font-size: 12px;
        margin: 5px 0px 0px 30px;
    }

    /* new */
    #olaniyan {
        width: 140px;
        background-color: green;
        border-radius: 70px;
        margin-top: 25px;
    }
    #olaniyan-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #olaniyan-span {
        font-size: 12px;
        margin: 5px 0px 0px 24px;
    }
    /*  */
    #dorcas {
        width: 140px;
        background-color: rgb(221, 36, 98);
        border-radius: 70px;
        height: 140px;
    }
    #dorcas-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #dorcas-span {
        font-size: 12px;
        margin: 5px 0px 0px 30px;
    }

    /* new */
    #edidiong {
        width: 140px;
        background-color: #4f1361;
        border-radius: 70px;
        margin-top: 25px;
    }
    #edidiong-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #edidiong-span {
        font-size: 12px;
        margin: 5px 0px 0px 14px;
    }
    /*  */
    #genevieve {
        width: 140px;
        background-color: #000;
        border-radius: 70px;
        height: 140px;
    }
    #genevieve-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #genevieve-span {
        font-size: 12px;
        margin: 5px 0px 0px 40px;
    }

    /* new */
    #oluwakemi {
        width: 140px;
        background-color: #000;
        border-radius: 70px;
        margin-top: 25px;
    }
    #oluwakemi-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #oluwakemi-span {
        font-size: 12px;
        margin: 5px 0px 0px 44px;
    }
    /*  */
    #oluwatosin {
        width: 140px;
        background-color: #31cc91;
        border-radius: 70px;
        height: 140px;
    }
    #oluwatosin-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 0px;
    }
    #oluwatosin-span {
        font-size: 12px;
        margin: 5px 0px 0px 40px;
    }

    /* new */
    #obiji {
        width: 140px;
        background-color: #b349d3;
        border-radius: 70px;
        margin-top: 25px;
    }
    #obiji-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #obiji-span {
        font-size: 12px;
        margin: 5px 0px 0px 0px;
    }
    /*  */
    #moboluwarin {
        width: 140px;
        background-color: rgb(240, 238, 238);
        border-radius: 70px;
        height: 140px;
    }
    #moboluwarin-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 0px;
    }
    #moboluwarin-span {
        font-size: 12px;
        margin: 5px 0px 0px 40px;
    }
    /* new */
    #obiji {
        width: 140px;
        background-color: #01B7EE;
        border-radius: 70px;
        margin-top: 25px;
    }
    #obiji-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #obiji-span {
        font-size: 12px;
        margin: 5px 0px 0px 34px;
    }
    /*  */
    #moboluwarin {
        width: 140px;
        background-color: rgb(240, 238, 238);
        border-radius: 70px;
        height: 140px;
    }
    #moboluwarin-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 0px;
    }
    #moboluwarin-span {
        font-size: 12px;
        margin: 5px 0px 0px 40px;
    }
    
    /* new */
    #collins {
        width: 140px;
        background-color: rgb(19, 19, 138);
        border-radius: 70px;
        margin-top: 25px;
    }
    #collins-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #collins-span {
        font-size: 12px;
        margin: 5px 0px 0px 30px;
    }
    /*  */
    #ebi {
        width: 140px;
        background-color: rgb(201, 24, 83);
        border-radius: 70px;
        height: 140px;
    }
    #ebi-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 25px;
    }
    #ebi-span {
        font-size: 12px;
        margin: 5px 0px 0px 30px;
    }

    /* new */
    #okwor {
        width: 140px;
        background-color: orange;
        border-radius: 70px;
        margin-top: 25px;
        height: 140px;
    }
    #okwor-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #okwor-span {
        font-size: 12px;
        margin: 5px 0px 0px 20px;
    }
    /*  */
    #olaiya {
        width: 140px;
        background-color: brown;
        border-radius: 70px;
    }
    #olaiya-p {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 750;
        margin-left: -15px;
    }
    #olaiya-span {
        font-size: 12px;
        margin: 5px 0px 0px 60px;
    }

    /* new */
    #tomilola {
        width: 140px;
        background-color: rgb(211, 48, 48);
        border-radius: 70px;
        margin-top: 25px;
        height: 140px;
    }
    #tomilola-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: 15px;
    }
    #tomilola-span {
        font-size: 12px;
        margin: 5px 0px 0px 44px;
    }
    /*  */
    .person-two {
        float: right;
        margin-top: -180px;
    }
    #yakubu {
        width: 140px;
        background-color: rgb(228, 37, 94);
        border-radius: 70px;
    }
    #yakubu-p {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 750;
        margin-left: -15px;
    }
    #yakubu-span {
        font-size: 12px;
        margin: 5px 0px 0px 40px;
    }

    /* Last 3 pics */
    #olatunde {
        width: 120px;
        background-color: #31cc91;
        border-radius: 70px;
        margin-top: 25px;
    }
    #olatunde-p {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 750;
        margin-left: -4px;
    }
    #olatunde-span {
        font-size: 12px;
        margin: 5px 0px 0px 26px;
    }
    /*  */
    #osomhe {
        width: 120px;
        background-color: rgb(29, 25, 25);
        border-radius: 70px;
        margin: -162px 0px 0px 130px;
        float: left;
    }
    #osomhe-p {
        font-size: 16px;
        font-weight: 750;
        margin: -37px 0px 0px 130px;
        float: left;
    }
    #osomhe-span {
        position: absolute;
        font-size: 12px;
        margin: 20px 0px 0px -90px;
    }
    /*  */
    #taiwo {
        width: 120px;
        background-color: rgb(206, 73, 73);
        border-radius: 70px;
        margin: -162px 0px 0px 260px;
        float: left;
        
    }
    #taiwo-p {
        float: left;
        font-size: 16px;
        font-weight: 750;
        margin: -36px 0px 0px 270px;
        width: 130px;
    }
    #taiwo-span {
        position: absolute;
        font-size: 12px;
        margin: 20px 0px 0px -64px;
    }

    /* footer starts */

    .investor-div {
        margin-top: 40px;
        background-color: #003D4F;
        height: 530px;
        width: 380px;
        text-align: center;
    }
    .investor-div h2 {
        color: #FFFFFF;
        padding-top: 50px;
        font-size: 20px;
        line-height: 30px;
        font-family: "Poppins", sans-serif;
    }
    .zuri-i4g-logo {
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        gap: 20px;
    }
    .zuri-logo {
        width: 150px;
        background-color: #FFFFFF;
        height: 150px;
        border-radius: 100px;
        padding: 20px;
        margin-top: 60px;
    }
    .i4g-logo {
        width: 150px;
        background-color: #FFFFFF;
        height: 150px;
        border-radius: 100px;
        padding: 20px;
    }

    footer {
        margin-top: 40px;
        height: 150px;
    }
    footer h2 {
        font-size: 18px;
        margin-bottom: 40px;
        font-family: "Poppins", sans-serif;
    }
    footer a {
        text-decoration: none;
        color: #FFFFFF;
        background-color: #01B7EE;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        margin-right: 30px;
        font-family: "Poppins", sans-serif;
    }





}