@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.user-landing-page{
    width: 80%;
    margin: 50px auto;
    font-family: 'Poppins', sans-serif;
}

.user-langing-banner-cover{
    width: 100%;
}

.user-langing-banner-cover img{
    width: 100%;
}

.user-landing-intro{
    padding: 0 30px;
    margin-top: 35px;
}

.user-landing-intro h3{
    font-size: 23px;
    padding: 0 35px;
    text-align: center;
    letter-spacing: 1.1px;
    line-height: 1.5;
    font-weight: 600;
}

.user-landing-intro p{
    font-size: 17px;
    padding: 20px 50px;
    text-align: center;
    letter-spacing: 1.1px;
    line-height: 1.5;
    font-weight: 400;
}

.user-landing-get-library{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    padding: 0 50px;
}

.user-landing-get-library p{
    font-size: 19px;
    font-weight: 500;
    padding: 25px;
}

.user-landing-get-library a{
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    background-color: #01B7EE;
    color: #FFFF;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 540px){
    .user-landing-page{
        width: 90%;
    }

    .user-landing-intro h3{
        font-size: 18px;
        padding: 0 12px;
        text-align: center;
    }

    .user-landing-intro p{
        font-size: 17px;
        padding: 20px 12px;
        text-align: center;
    }

    .user-landing-get-library{
        flex-direction: column;
        margin-top: 35px;
        padding: 0 50px;
    }

    .user-landing-get-library p{
        padding: 20px;
        text-align: center;
    }
}