{% extends 'base.html' %}
{%load static %}
{% block content %}
    <link rel='stylesheet' href="{%static 'css/faq.css' %}" />
    <section class="faq-section">
        <div class="faq-logo-wrapper">
            <img src="{%static 'images/faq-icon.png' %}" alt="">
        </div>

        <div class="faq-wrapper">
            <ul class="faq-list">
                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>What is Auth Wiki?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    
                    <p class="faq-paragraph-text">Auth Wiki is a library where developers can download trustable authenticated 
                        codes to help small businesses and developers easily reduce the time and resource 
                        it takes to write many lines of code.</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>Are the codes Prewritten?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">Yes, there are Pre-written codes</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>How secured is Auth Wiki?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                        
                    </div>
                    <p class="faq-paragraph-text">100% secured and trusted</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>Who is behind Auth Wiki?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">Auth Wiki is a project worked on by a passionate team from the Zuri Internship and backed up by world class investors</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>Who are the investors of Auth Wiki?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">Zuri & Ingressive For Good</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>Do i need to be signed in to have access to Auth Library?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">Yes. However, you can as well not sign in and also interact with the documentation.</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>How else can i sign in or log in without an email?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">You can also sign up or log in with a google account</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>I don't understand the download process, do i need to be authenticated to have full access?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                        <p class="faq-paragraph-text">Yes, you need to be authenticated to be able to download the codes</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>Is Auth Wiki written from scratch or it includes codes from other websites?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">It includes codes from other library. As time goes on, new codes would be introduced</p>
                </li>

                <li class="faq-list-child">
                    <div class="faq-heading">
                        <h2>How can i download the Auth Wiki documentation to use it offline?</h2>
                        <div class="faq-func-icons">
                            <img class="faq-func-icon faq-plus-icon" src="{%static 'images/faq-plus-icon.svg' %}" alt="">
                            <img class="faq-func-icon faq-minus-icon" src="{%static 'images/faq-minus-icon.svg' %}" alt="">
                        </div>
                    </div>
                    <p class="faq-paragraph-text">You need to be authenticated and have full access to the platform to be able to download. However, you can still view and interact with the documentation</p>
                </li>
            </ul>
        </div>
    </section>
    {% include 'footer.html' %}
    <script src="{%static 'js/script_faq.js' %}"></script>
{% endblock %}