{% extends 'base.html' %}
{%load static%}
  {%block content %}
    <link rel="stylesheet" href="{%static 'css/homePage.css' %}" />
    <title>auth_wiki</title>

   <header class="header">
 
      <div class="header-primary">
        <div class="header-primary-text">
          <h1 class="header-primary-main">
            <span class="text1">Securely</span><br /><span class="text2"
              >Authenticate</span
            ><br />your Web and<br />Mobile app Users
          </h1>
          <p class="header-primary-sub">
            Our easy to download Authentication codes helps Small businesses and
            Devolpers easily reduce time and resources it takes to write many
            lines of Auth Code.
          </p>
        </div>
        <div class="header-primary-image">
          <img
            class="header-primary-image-style"
            src="{%static 'images/hero-image.png' %}"
            alt="hero"
          />
        </div>
      </div>
      <div class="header-button">
        <a class="header-button-cta header-cta1" href="{%url 'accounts:signup'%}">Signup</a>
        <a class="header-button-cta header-cta2" href="">Explore</a>
      </div>
      <div class="header-trust">
        <p class="header-trust-text">trusted by</p>
        <div class="header-trust-img-box">
          <img
            class="header-trust-img"
            src="../static/images/hero-trusted.png"
            alt="organization"
          />
        </div>
      </div>
    </header> 
    <main>
      <section class="section1">
        <h2 class="section1-header">
          Our Authentication Codes works for varieties of Code Languages
        </h2>
        <img
          class="section1-img"
          src="{%static 'images/stack-group.png' %}"
          alt="technology stack"
        />
      </section>
      <section class="section2-box">
        <div class="section2 section2-1">
          <div class="section2-col1 section2-col1-row1">
            <h2 class="section2-header">Authentication</h2>
            <p class="section2-text">
              Our Authentication Codes helps create intuitive and trustworthy
              omni-channel experiences for everyone, with a focus on improving
              customer experience through seamless sign-on and making Single and
              MFA as simple as a button click.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/padlock-icon.svg' %}"
              alt="icon"
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/productivity.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="section2 section2-2">
          <div class="section2-col1 section2-col1-row2">
            <h2 class="section2-header">Code Download</h2>
            <p class="section2-text">
              Our easy to download Authentication codes helps small businesses
              and Devolpers easily reduce time and resources it takes to write
              many lines of code, thus making onboarding process for new users
              easy and seamless and secure customer identity with
              state-of-the-art technology.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/database-icon.svg' %}"
              alt=""
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/pair-programming.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="section2 section2-3">
          <div class="section2-col1 section2-col1-row3">
            <h2 class="section2-header">Dev Community</h2>
            <p class="section2-text">
              The Auth Wiki Dev community allows you to give feedback on our
              Auth Codesm interact and have conversatuions with members of the
              Auth Wiki Dev community on the go.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/chat-icon.svg' %}"
              alt=""
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/community.png' %}"
              alt=""
            />
          </div>
        </div>
      </section>
      <section class="section3">
        <div class="section3-col section3-col1">
          <div class="section3-col-img">
            <img
              class="section3-col-img-style"
              src="{%static 'images/issue-icon.svg' %}"
              alt="issue problem"
            />
          </div>
          <h3 class="section3-header">Easy</h3>
          <p class="section3-text">
            Building, and Authenticating users should be super easy and seamless
          </p>
        </div>
        <div class="section3-col .section3-col2">
          <div class="section3-col-img">
            <img
              class="section3-col-img-style"
              src="{%static 'images/global-icon.svg' %}"
              alt="issue problem"
            />
          </div>
          <h3 class="section3-header">Universal</h3>
          <p class="section3-text">
            The process of Authenticating users should be fast from everywhere.
          </p>
        </div>
        <div class="section3-col .section3-col3">
          <div class="section3-col-img">
            <img
              class="section3-col-img-style"
              src="{%static 'images/group-icon.svg' %}"
              alt="issue problem"
            />
          </div>
          <h3 class="section3-header">Accessible</h3>
          <p class="section3-text">
            Authentication codes should be easily accesible and downloadable.
          </p>
        </div>
      </section>
      <section class="section4">
        <div class="section4-row1">
          <h2 class="section4-header">
            Secure and Trusted Authentication Library
          </h2>
          <p class="section4-text">
            Multiple organisations and small busineses trust Auth Wiki for their
            User authentications.
          </p>
        </div>
        <div class="section4-row2">
          <img
            class="section4-row2-img"
            src=" {%static 'images/organization.png' %}"
            alt=""
          />
        </div>
      </section>
      <section class="section5">
        <div class="section5-row section5-row1">
          <img
            class="section5-image section5-row1-image"
            src="{%static 'images/person1.png' %}"
            alt="person"
          />
          <p class="section5-text section5-row1-text">
            Previously, we had two independent databases; today, we are
            developing a third, which will be the sole source of all consumer
            data, centralized and connected in one location. Now that we have
            our Logins authenticated by Auth Wiki, we can focus on further
            identity projects and inventing around ways to make users' lives
            easier."
            <span class="section5-sub-text"
              >Spalleti Di Natelle - CEO, QweekSend</span
            >
          </p>
        </div>
        <div class="section5-row section5-row2">
          <img
            class="section5-image section5-row2-image"
            src="{%static 'images/person2.png' %}"
            alt="person"
          />
          <p class="section5-text section5-row2-text">
            The fundamental distinction between Auth Wiki and the other
            companies is that Auth Wiki has always built a custom solution for
            Banco Africanna, rather than an out-of-the-box solution. They
            inquire about our problems and work promptly to find solutions.
            Finally, we are just one team focusing on Banco Africanna's digital
            progress."
            <span class="section5-sub-text"
              >Christian Kipchoge - COO, Banco Africanna</span
            >
          </p>
        </div>
        <div class="section5-row section5-row3">
          <img
            class="section5-image section5-row3-image"
            src="{%static 'images/person3.png' %}"
            alt=""
          />
          <p class="section5-text section5-row3-text">
            Auth Wiki is a clear winner, not only in terms of time of marketting
            products, but also in terms of delivering your products to the user.
            Because, for us, authentication is an integral part of the
            offering."
            <span class="section5-sub-text"
              >Badamosi Kperogi - CEO, Top Dawg inc</span
            >
          </p>
        </div>
      </section>
      <section class="section6">
        <div class="section6-image">
          <img
            class="section6-image-style"
            src="{%static 'images/GDPR.png' %}"
            alt="GDPR"
          />
        </div>
        <div class="section6-text">
          <h2 class="section6-header">It's a game <br />Changer</h2>
        </div>
      </section>
      <section class="section7">
        <div class="section6-button">
          <a class="btn section6-btn section6-btn1" href="">Signup</a>
          <a class="btn section6-btn section6-btn2" href="">Explore</a>
        </div>
      </section>
    </main>
    {% include 'footer.html'%}
    <script src="{%static 'js/homePage.js' %}"></script>
  {% endblock %}
