{% extends 'base.html' %}
{%block content%}
    <header class="wrapper">
        <nav>

            <ul>

                {% if User.is_authenticated %}

                <li>

                    <form action="{% url 'accounts:logout' %}" method="post">

                        {% csrf_token %}

                        <button type="submit">Logout</button>

                    </form>

                </li>

                {% else %}


                <li>

                    <a href="{% url 'accounts:signup' %}">Signup</a>

                </li>

                {% endif %}

            </ul>

        </nav>

    </header>

    <div class="wrapper">


    </div>
{% endblock %}

