{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link
  href="https://api.fontshare.com/v2/css?f[]=panchang@800&display=swap"
  rel="stylesheet"/>
  <link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap"
  rel="stylesheet"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel='stylesheet' href="{%static 'css/homepage.css'%}"/>
    <link rel="stylesheet" href="{%static 'css/service.css' %}" />
    <title>Service</title>
    <main class="mt-4">
      <div class="text-center fm-Excon">
        <h1 class="our-service fw-bolder">Our Sevices</h1>
        <h2 class="text-black text-opacity-25">
          Facilities that we are committed to delivering.
        </h2>
      </div>

      <div class="container text-center">
        <div class="row mt-5">
          <div class="col mt-4">
            <div
              class="bg-white text-center shadow-sm p-5 mt-5 position-relative"
            >
              <div
                class="z-index-1030 position-absolute top-0 start-50 translate-middle"
              >
                <img src="{% static 'images/Icon.png' %}" alt="" />
              </div>
              <div class="p-4 m-2 text-center card-text mx-auto mt-5">
                <h3 class="fs-2">Authentication</h3>
                <p class="fs-6">
                  Control over access to information on database
                </p>
              </div>
            </div>
          </div>
          <div class="col mt-4">
            <div
              class="bg-white text-center shadow-sm p-5 mt-5 position-relative"
            >
              <div
                class="z-index-1030 position-absolute top-0 start-50 translate-middle"
              >
                <img src="{% static 'images/code_sign.png' %}" alt="" />
              </div>
              <div class="p-4 m-2 card-text text-center mx-auto mt-5">
                <h3 class="fs-2">Code Library</h3>
                <p class="fs-6">Access a library of prewritten sourse codes.</p>
              </div>
            </div>
          </div>
          <div class="col mt-4">
            <div
              class="bg-white text-center shadow-sm p-5 mt-5 position-relative"
            >
              <div
                class="z-index-1030 position-absolute top-0 start-50 translate-middle"
              >
                <img src="{% static 'images/fam.png' %}" alt="" />
              </div>
              <div class="p-4 m-2 card-text text-center mx-auto mt-4">
                <h3 class="fs-2">Community</h3>
                <p class="fs-6">
                  Chit-chat and engage in conversations while giving feedbacks
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class=" mb-5">
        <div class="row m-5">

          <div class="col mt-4  ">
            <div class="bg-white mt-5 position-relative">
              <div class="p-4 m-2 card-text-2 mt-5 pb-0 ">

                <h3 class="fs-1">Authentication</h3>
                <p class="fs-3">
                  Get access control for systems by checking to see if a user's
                  credentials match the credentials in a database of authorized
                  users or in a data authentication server.
                </p>
              </div>
              <div class="d-flex gap-4 btn-parent">
                <button class="btn bg-white btn-1">Learn More</button>
                <button class="btn btn-2 text-white ">Learn More</button>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mt-4">
            <div class="img">
              <img src="{% static 'images/Img.png' %}"  class="img-fluid" alt="" />
            </div>
          </div>
        </div>

        
        <!-- second -->
        <div class="row m-5">
          <div class="col-xl-6 mt-4">
            <div class="img">
              <img src="{% static 'images/Img 2.png' %}" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col mt-4">
            <div class="bg-white position-relative">
              <div class="p-4 m-2 card-text-2 mt-5 pb-0 ">

                <h3 class="fs-1">Explore a collection of codes.</h3>
                <p class="fs-3 ">
                  Access prewritten code and source code collections to
                  streamline your software development activities.
                </p>
              </div>
              <div class="d-flex gap-4 btn-parent">
                <button class="btn bg-white btn-1">Learn More</button>
                <button class="btn btn-2 text-white">Learn More</button>
              </div>
            </div>
          </div>
        </div>
        <!-- third -->

        <div class="row m">
          <div class="col mt-4">

            <div class="bg-white p-5 mt-5 position-relative">
              <div class="p-4 m-2 card-text-2 mt-5 pb-0">
                <h3 class="fs-2">Engage community members in conversation</h3>
                <p class="fs-3">
                  Interact with and converse with community members while
                  providing feedback on our Codes in the library through the
                  community.
                </p>
              </div>
              <div class="d-flex gap-4 btn-parent">
                <button class="btn bg-white btn-1">Learn More</button>
                <button class="btn btn-2 text-white">Learn More</button>
              </div>
            </div>
          </div>
          <div class="col-xl-6 mt-4">
            <div class="img">
              <img src="{% static 'images/Img3.png' %}" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </main>
  {%include 'footer.html'%}
{% endblock %}
