{% extends 'base.html'%}
{% load static%}
{% block content%}
  <link rel="stylesheet" href="{%static 'css/support.css' %}" />
    <section class="support__form">
      <h2 class="support__header">Need some help?</h2>
      <p class="support__text">
        Take a look at our comprehensive documentations, lively forums, and
        FAQs.
      </p>
      <form action="#" class="support__form--form">
        <input
          class="support__form--form-input"
          type="text"
          name=""
          id=""
          placeholder="I need help with..."
        />
        <button class="support__form--form-submit" type="submit">
          <i class="fa fa-search lg"></i>
        </button>
      </form>
    </section>
    <section class="support__cards">
      <div class="support__card">
        <h3 class="support__card-header">Getting Started</h3>
        <p class="support__card-sub-header">Basics of Auth Wiki</p>

        <div class="support__card-details">
          <p class="support__card-text">Auth Wiki Overview</p>
          <p class="support__card-text">The Basics</p>
          <p class="support__card-text">Dashboard Overview</p>
        </div>
      </div>
      <div class="support__card">
        <h3 class="support__card-header">Documentation</h3>
        <p class="support__card-sub-header">
          Working with Auth Wiki's <br />
          Authentication codes
        </p>

        <div class="support__card-details">
          <p class="support__card-text">How to use Auth Wiki Codes</p>
          <p class="support__card-text">Sandbox enviroment</p>
        </div>
      </div>
      <div class="support__card">
        <h3 class="support__card-header">User Profiles</h3>
        <p class="support__card-sub-header">
          Working with users and their profiles
        </p>

        <div class="support__card-details">
          <p class="support__card-text">User Profile Details</p>
          <p class="support__card-text">User Profile Structure</p>
          <p class="support__card-text">Normalized User Profiles</p>
        </div>
      </div>
      <div class="support__card">
        <h3 class="support__card-header">Extensibility</h3>
        <p class="support__card-sub-header">
          Customizing Auth Wiki's<br />feature set
        </p>

        <div class="support__card-details">
          <p class="support__card-text">Auth Wiki Extensions</p>
          <p class="support__card-text">Rules</p>
        </div>
      </div>
    </section>
    <section class="support__more">
      <div class="support__more--image-box">
        <img
          class="support__more-image"
          src="{%static 'images/support-customer.png' %}"
          alt="support graphic"
        />
      </div>
      <div class="support__more-text">
        <h3 class="support__more-text--header">Still more troubles?</h3>
        <p class="support__more-text--paragraph">Don't worry, We've got you!</p>
        <a class="support__more-btn support__more-text--button" href="#"
          >Talk to Expert</a
        >
      </div>
      <a class="support__more-btn support__more--button2" href="#"
        >Ask our Commuity</a
      >
    </section>
{% endblock %}
