{% extends 'base.html' %}
{%load static %}
{% block content %}
    <title>AuthWiki</title>
    <link rel="stylesheet" href="{%static 'css/teams-landing-page.css' %}" />
    <div class="wrapper">
      <header></header>

      <main>
        <div class="logo-div">
          <img
            class="auth-wiki-logo"
            src="{%static 'images/AuthWikiLogo.svg' %}"
            alt="Auth Wiki Logo"
          />
        </div>

        <p class="first-para">OUR MISSION</p>

        <h2 class="first-h2">
          Making Authentication Codes<br />easy to download and<br
            class="mobile"
          />
          implement.
        </h2>

        <p class="second-para">
          Our Mission is to help Small businesses and Developers easily reduce
          time and resources it<br class="desktop" />takes to write many lines
          of Auth Code.
        </p>

        <div class="meet-and-see-div">
          <p class="meet-para">Meet the team</p>
          <p class="see-para">See Our investors</p>
        </div>

        <div class="uni-easy-universal-accessible-div">
          <div class="first-uni-div">
            <img
              id="uni-img"
              style="background-color: #000"
              src="{%static 'images/question.svg' %}"
              alt=""
            />
            <span class="easy-span">
              <h4>Easy</h4>
              <p class="easy-para">
                Building and Authenticating users should be<br
                  class="desktop"
                />
                super<br class="mobile" />easy and seamless.
              </p>
            </span>
          </div>
          <div class="first-uni-div">
            <img
              id="uni-img"
              style="background-color: #000"
              src="{%static 'images/world.svg' %}"
              alt=""
            />
            <span class="easy-span">
              <h4>Universal</h4>
              <p class="easy-para">
                The process of Authenticating users should<br
                  class="desktop"
                />be fast<br class="mobile" />from everywhere.
              </p>
            </span>
          </div>
          <div class="first-uni-div">
            <img
              id="easy-img"
              style="background-color: #000"
              src="{%static 'images/multi.svg' %}"
              alt=""
            />
            <span class="easy-span">
              <h4>Accessible</h4>
              <p class="easy-para">
                Authentication codes should be easily<br
                  class="desktop"
                />accesible and<br class="mobile" />downloadable.
              </p>
            </span>
          </div>
        </div>

        <h2 class="our-passionate-team">Our Passionate team</h2>

        <div class="first-team-div">
          <div class="person1">
            <img id="kausarat" src="{%static 'images/kausarat Giwa.png' %}" alt="" />
            <p id="kausarat-p">
              Giwa Kausarat<span id="kausarat-span">Engineering Lead</span>
            </p>
          </div>
          <div class="person2">
            <img id="michael" src="{%static 'images/Michael Abu.png' %}" alt="" />
            <p id="michael-p">
              Michael Abu<span id="michael-span">Design Lead</span>
            </p>
          </div>
          <div class="person3">
            <img id="destiny" src="{%static 'images/Destiny Omoruyi.png' %}" alt="" />
            <p id="destiny-p">
              Destiny Omoruyi<span id="destiny-span">Co Lead, Engineering</span>
            </p>
          </div>
          <div class="person4">
            <img
              id="odewumi"
              src="{%static 'images/Odewumi Christiana Omolara.png' %}"
              alt=""
            />
            <p id="odewumi-p">
              Odewumi Omolara<span id="odewumi-span">Co Lead, Design</span>
            </p>
          </div>
        </div>

        <div class="first-team-div">
          <div class="person1">
            <img id="boluwatife" src="{%static 'images/Boluwatife Ajayi.png' %}" alt="" />
            <p id="boluwatife-p">
              Boluwatife Ajayi<span id="boluwatife-span">Design</span>
            </p>
          </div>
          <div class="person2">
            <img
              id="bolaji"
              src="{%static 'images/BOLAJI SHERIFDEEN ADEBOYE.png' %}"
              alt=""
            />
            <p id="bolaji-p">
              Bolaji Sherifdeen<span id="bolaji-span">Engineering</span>
            </p>
          </div>
          <div class="person3">
            <img id="unuofin" src="{%static 'images/UNUOFIN PRECIOUS ESTHER.png' %}" alt="" />
            <p id="unuofin-p">
              Unuofin Esther<span id="unuofin-span">Design</span>
            </p>
          </div>
          <div class="person4">
            <img id="babarinde" src="{%static 'images/Babarinde Kolade John.png' %}" alt="" />
            <p id="babarinde-p">
              Babarinde Kolade<span id="babarinde-span">Engineering</span>
            </p>
          </div>
        </div>

        <div class="first-team-div">
          <div class="person1">
            <img id="olaniyan" src="{%static 'images/Olaniyan Daniel.png' %}" alt="" />
            <p id="olaniyan-p">
              Olaniyan Daniel<span id="olaniyan-span">Engineering</span>
            </p>
          </div>
          <div class="person2">
            <img id="dorcas" src="{%static 'images/Dorcas Adesete Akinjole.png' %}" alt="" />
            <p id="dorcas-p">
              Dorcas Akinjole<span id="dorcas-span">Design</span>
            </p>
          </div>
          <div class="person3">
            <img id="edidiong" src="{%static 'images/Edidiong Ekpo.png' %}" alt="" />
            <p id="edidiong-p">
              Edidiong Ekpo<span id="edidiong-span">Engineering</span>
            </p>
          </div>
          <div class="person4">
            <img id="genevieve" src="{%static 'images/Genevieve Enahoro.png' %}" alt="" />
            <p id="genevieve-p">
              Genevieve Enahoro<span id="genevieve-span">Design</span>
            </p>
          </div>
        </div>

        <div class="first-team-div">
          <div class="person1">
            <img
              id="oluwakemi"
              src="{%static 'images/Oluwakemi Olajide Janet.png' %}"
              alt=""
            />
            <p id="oluwakemi-p">
              Oluwakemi Olajide<span id="oluwakemi-span">Design</span>
            </p>
          </div>
          <div class="person2">
            <img id="oluwatosin" src="{%static 'images/Oluwatosin Akande.png' %}" alt="" />
            <p id="oluwatosin-p">
              Oluwatosin Akande<span id="oluwatosin-span">Engineering</span>
            </p>
          </div>
          <div class="person3">
            <img id="obiji" src="{%static 'images/obiji marvelous Chibuzo.png' %}" alt="" />
            <p id="obiji-p">
              Obiji Marvelous<span id="obiji-span">Design</span>
            </p>
          </div>
          <div class="person4">
            <img
              id="moboluwarin"
              src="{%static 'images/Moboluwarin Jibola-Shittu.png' %}"
              alt=""
            />
            <p id="moboluwarin-p">
              Moboluwarin Jibola<span id="moboluwarin-span">Engineering</span>
            </p>
          </div>
        </div>

        <div class="first-team-div">
          <div class="person1">
            <img id="collins" src="{%static 'images/Collins Iloabuchi.png' %}" alt="" />
            <p id="collins-p">
              Collins Iloabuchi<span id="collins-span">Engineering</span>
            </p>
          </div>
          <div class="person2">
            <img id="ebi" src="{%static 'images/Ebi Henrietta Ombe.png' %}" alt="" />
            <p id="ebi-p">Ebi Henrietta<span id="ebi-span">Design</span></p>
          </div>
          <div class="person3">
            <img id="okwor" src="{%static 'images/Okwor Joshua.png' %}" alt="" />
            <p id="okwor-p">
              Okwor Joshua<span id="okwor-span">Engineering</span>
            </p>
          </div>
          <div class="person4">
            <img id="olaiya" src="{%static 'images/Olaiya Samuel Ayobami.png' %}" alt="" />
            <p id="olaiya-p">
              Olaiya Samuel Ayobami<span id="olaiya-span">Design</span>
            </p>
          </div>
        </div>

        <div class="last-team-div">
          <div class="person-one">
            <img id="tomilola" src="{%static 'images/Tomilola Omiwole.png' %}" alt="" />
            <p id="tomilola-p">Tomilola Omiwole<span id="tomilola-span">Design</span></p>
          </div>
          <div class="person-two">
            <img id="yakubu" src="{%static 'images/Yakubu Bobai Ephraim.png' %}" alt="" />
            <p id="yakubu-p">Yakubu Bobai Ephraim<span id="yakubu-span">Engineering</span></p>
          </div>
          <div class="person-three">
            <img id="olatunde" src="{%static 'images/Olatunde Success.png' %}" alt="" />
            <p id="olatunde-p">Olatunde Success<span id="olatunde-span">Engineering</span></p>
          </div>
          <div class="person-four">
            <img id="osomhe" src="{%static 'images/Osomhe Aleogho.png' %}" alt="" />
            <p id="osomhe-p">Osomhe Aleogho<span id="osomhe-span">Engineering</span></p>
          </div>
          <div class="person-five">
            <img id="taiwo" src="{%static 'images/Taiwo Lateefat.png' %}" alt="" />
            <p id="taiwo-p">Taiwo Lateefat<span id="taiwo-span">Design</span></p>
          </div>

        </div>
      </main>

      <div class="investor-div">
        <h2>We are backed by <br class="mobile"> World-class Investors</h2>
        <div class="zuri-i4g-logo row">
          <img class="zuri-logo col-md-6" src="{%static 'images/zuri-logo.svg' %}" alt="" />
          <img class="i4g-logo col-md-6 m-5" src="{%static 'images/i4g-logo.svg' %}" alt="" />
        </div>
      </div>
      <footer>
        <h2>Join us in changing how user<br />Authentication works</h2>
        <a href="#">Careers at Auth Wiki</a>
      </footer>
    </div>
{% endblock %}
