{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>What we do</title>
</head>

<body>
    
    <main>
        <section class="section2-box">
        <div class="section2 section2-1">
          <div class="section2-col1 section2-col1-row1">
            <h2 class="section2-header">Authentication</h2>
            <p class="section2-text">
              Our Authentication Codes helps create intuitive and trustworthy
              omni-channel experiences for everyone, with a focus on improving
              customer experience through seamless sign-on and making Single and
              MFA as simple as a button click.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/padlock-icon.svg' %}"
              alt="icon"
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/productivity.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="section2 section2-2">
          <div class="section2-col1 section2-col1-row2">
            <h2 class="section2-header">Code Download</h2>
            <p class="section2-text">
              Our easy to download Authentication codes helps small businesses
              and Devolpers easily reduce time and resources it takes to write
              many lines of code, thus making onboarding process for new users
              easy and seamless and secure customer identity with
              state-of-the-art technology.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/database-icon.svg' %}"
              alt=""
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/pair-programming.png' %}"
              alt=""
            />
          </div>
        </div>
        <div class="section2 section2-3">
          <div class="section2-col1 section2-col1-row3">
            <h2 class="section2-header">Dev Community</h2>
            <p class="section2-text">
              The Auth Wiki Dev community allows you to give feedback on our
              Auth Codesm interact and have conversatuions with members of the
              Auth Wiki Dev community on the go.
            </p>
            <img
              class="section2-svg"
              src="{%static 'images/chat-icon.svg' %}"
              alt=""
            />
          </div>
          <div class="section2-col2">
            <img
              class="section2-img"
              src="{%static 'images/community.png' %}"
              alt=""
            />
          </div>
        </div>
      </section>
    </main>
</body>
</html>