{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link
       href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap"
      rel="stylesheet" 
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{%static 'css/footer.css' %}" />
    <title>Authwiki</title>
  </head>

  <body>
    <footer class="footer">
      <div class="footer__logo-box">
        <img
          class="footer__logo"
          src="{%static 'images/footer-logo.svg' %}"
          alt="footer logo"
        />
      </div>
      <div class="footer__menu">
        <ul class="footer__menu--list">
          <div class="footer__menu--list-items footer__menu--list-1">
            <h4 class="footer__menu--header">Library</h4>
          </div>
          <div class="footer__menu--list-items footer__menu--list-2">
            <h4 class="footer__menu--header">Community</h4>
          </div>
          <div class="footer__menu--list-items footer__menu--list-3">
            <h4 class="footer__menu--header">Dev and Docs</h4>
            <li><a href="{%url 'blog' %}" class='anch'>Blog</a></li>
            <li><a href="{%url 'doc' %}" class='anch'>Documentation</a></li>
            <li><a href="{%url 'support' %}" class='anch'>Get Support</a></li>
            <li><a href="{%url 'faq'%}" class='anch'>FAQS</a></li>
          </div>
          <div class="footer__menu--list-items footer__menu--list-4">
            <h4 class="footer__menu--header">Company</h4>
            <li><a href="{%url 'about' %}" class='anch'>About Us</a></li>
            <li><a href="" class='anch'>Teams</a></li>
            <li><a href="{%url 'service' %}" class='anch'>Our Services</a></li>
            <li><a href="" class='anch'>Customers</a></li>
            <li><a href="" class='anch'>Careers</a></li>
          </div>
          {% comment %} <div class="footer__menu--list-items footer__menu--list-5">
            <h4 class="footer__menu--header">Industries</h4>
            <li><a href="" class='anch'>Financial Services</a></li>
            <li><a href="" class='anch'>Healthcare</a></li>
            <li><a href="" class='anch'>Social Media</a></li>
            <li><a href="" class='anch'>Retail</a></li>
            <li><a href="" class='anch'>Public Sector</a></li>
          </div> {% endcomment %}
          <div class="footer__menu--list-items footer__menu--list-6">
            <h4 class="footer__menu--header">Our Socials</h4>
            <ul class="footer__social-list">
              <li>
                <a href=""><i class="fa fa-facebook-official"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-twitter"></i> </a>
              </li>
              <li>
                <a href=""><i class="fa fa-instagram"></i> </a>
              </li>
              <li>
                <a href=""><i class="fa fa-linkedin"></i> </a>
              </li>
              <li>
                <a href=""><i class="fa fa-youtube"></i> </a>
              </li>
              <li>
                <a href=""><i class="fa fa-github"></i> </a>
              </li>
            </ul>
          </div>
        </ul>
      </div>
      <div class="footer__horizontal"></div>
      <div class="footer__menu2">
        <ul class="footer__menu--list2">
          <li><a href="{%url 'terms'%}" target="_blank" class='anch'>Terms of Service</a></li>
          <li><a href="{%url 'disclamer' %}" class='anch'>Privacy Policy</a></li>
          <li><a href="" class='anch'>Cookie Policy</a></li>
          <li><a href="{%url 'policy' %}" class='anch'>Copyright Policy</a></li>
          <li><a href="" class='anch'>Code of Conduct</a></li>
        </ul>
        <div class="footer__copyright">
          <p>&copy; 2022 Authwiki. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
