{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/f73f014758.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/footer.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <img class="image" src="{%static 'images/footerlogo.png' %}" alt="" />

      <div class="footer-div">
        <div class="first-div">
          <div class="footer-sections Library">
            <h3><a href="{%url 'library:home'%}">Library</a></h3>
          </div>
          <div class="footer-sections community">
            <h3><a href="">Community</a></h3>
          </div>
          <div class="footer-sections">
            <h3>Devs and Docs</h3>
            <p><a href="{%url 'blog' %}">Blog</a></p>
            <p><a href="{%url 'doc'%}">Documentation</a></p>
            <p><a href="{%url 'support' %}">Get Support</a></p>
            <p><a href="{%url 'faq' %}">FAQS</a></p>
          </div>
          <div class="footer-sections">
            <h3>Company</h3>
            <p><a href="{%url 'about' %}">About Us</a></p>
            <p><a href="{%url 'teams'%}">Teams</a></p>
            <p><a href="">Customers</a></p>
            <p><a href="">Careers</a></p>
          </div>
          <div class="footer-sections">
            <h3><a href="">industries</a></h3>
            <p><a href="">Financial Services</a></p>
            <p><a href="">HealthCare</a></p>
            <p><a href="">Social Media</a></p>
            <p><a href="">Retail</a></p>
            <p><a href="">Public Sector</a></p>
          </div>
        </div>
        <div class="last-div">
          <h3>Our socials</h3>
          <div class="footer-icons">
            <a href="#"><i class="fas fa-globe fa-lg right-side1-icons"></i></a>
            <a href="#"
              ><i class="fab fa-facebook fa-lg right-side1-icons"></i
            ></a>
            <a href="#"
              ><i class="fab fa-twitter fa-lg right-side1-icons"></i
            ></a>
            <a href="#"
              ><i class="fab fa-instagram fa-lg right-side1-icons"></i
            ></a>
            <a href="#"
              ><i class="fab fa-github fa-lg right-side1-icons"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="footer-bottom">
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Terms of Use</a></p>
        <p><a href="">Disclaimer</a></p>
        <p><a href="">Legal</a></p>
        <p><a href="">Site Map</a></p>
        <p class="copyright">c 2022 Auth Wiki. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
