

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}

    {% endblock %}



</head>

<body>

    <header class="wrapper">
        <nav>

            <ul>

                {% if user.is_authenticated %}

                <li>

                    <form action="{% url 'accounts:logout' %}" method="post">

                        {% csrf_token %}

                        <button type="submit">Logout</button>

                    </form>

                </li>

                {% else %}


                <li>

                    <a href="{% url 'accounts:signup' %}">Signup</a>

                </li>

                {% endif %}

            </ul>

        </nav>

    </header>

    <div class="wrapper">

        {% block content %}



        {% endblock %}

    </div>

</body>

</html>
