<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/user-landing.css">
    <title>Document</title>
</head>
<body>
    <section class="user-landing-page">
        <div class="user-langing-banner-cover">
            <img src="./static/images/user-landing-page-banner.png" alt="">
        </div>
        
        <div class="user-landing-intro">
            <h3>Auth Wiki very versatile and modular, and it can be seamlessly integrated into any online application.
                Auth Wiki codes are easy to implement and easily adaptable.</h3>
           <p>A wide range of authentication methods are available, including login and password for the different languages and frameworks,
                as well as Facebook, Twitter, and others.</p>
        </div>
        
        <div class="user-landing-get-library">
            <p>Varieties of code Languages to download from</p>
            <a href="#">Go To Code Library</a>
        </div>
    </section>
</body>
</html>