* {
    box-sizing: border-box;
    width: 0;
    padding: 0;
}
.logo_img {
    width: 150px;
}
.hide-links {
    width: 200px;
}
.world{
     width: 100px;
}
.signup {
    background-color: aqua;
    padding: 0px 0px 0px 0px;

}
header div a {
    margin-top: 20px;
    margin-right: 0px;
    float: right;
    padding: 5px 15px 5px 15px;
    border: 1px solid #0199c6;
    border-radius: 5px;
    color: #0199c6;
    font-size: 17px;
    font-family: "Poppins";
    font-style: normal;
    line-height: 150%;
  }