* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 550px) {
  body {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 500px;
    height: 470px;
    text-align: center;
    margin-top: 100px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .logo-img {
    width: 200px;
    margin-top: 30px;
  }
  .envelope-img-div img {
    margin-top: 20px;
    width: 90px;
  }
  h2 {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #151515;
  }
  .para1 {
    margin-top: 30px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .para3 {
    margin-top: 20px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  .para3 a {
    margin-top: 20px;
    color: #01B7EE;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  .log-in-div {
    margin-top: 20px;
  }
  .log-in-div a {
    color: #01b7ee;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .icon-arrow {
    align-content: center;
    margin: 0px 0px 0px 0px;
    width: 15px;
    height: 1.4px;
    border-radius: 4px;
    background-color: #0198c6;
    position: relative;
    top: 13px;
    left: 170px;
    font-size: 0px;
  }
  .icon-arrow:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 1.4px;
    background-color: #0198c6;
    transform: rotate(-45deg);
    position: absolute;
    right: 8px;
    bottom: 3px;
  }
  .icon-arrow:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 1.4px;
    background-color: #0198c6;
    transform: rotate(45deg);
    position: absolute;
    right: 8px;
    bottom: -3px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    width: 375px;
    margin: 0 auto;
  }
  body {
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .container {
    width: 500px;
    height: 470px;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .logo-img {
    width: 200px;
    margin-top: 30px;
  }
  .envelope-img-div img {
    margin-top: 20px;
    width: 90px;
  }
  h2 {
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #151515;
  }
  .para1 {
    margin-top: 30px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .para3 {
    margin-top: 20px;
    color: #151515;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  .para3 a {
    margin-top: 20px;
    color: #01B7EE;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }
  .log-in-div {
    margin-top: 20px;
  }
  .log-in-div a {
    color: #01b7ee;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
  }
  .icon-arrow {
    align-content: center;
    margin: 0px 0px 0px 0px;
    width: 15px;
    height: 1.4px;
    border-radius: 4px;
    background-color: #0198c6;
    position: relative;
    top: 13px;
    left: 110px;
    font-size: 0px;
  }
  .icon-arrow:after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 1.4px;
    background-color: #0198c6;
    transform: rotate(-45deg);
    position: absolute;
    right: 8px;
    bottom: 3px;
  }
  .icon-arrow:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 1.4px;
    background-color: #0198c6;
    transform: rotate(45deg);
    position: absolute;
    right: 8px;
    bottom: -3px;
  }
}
