* {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  @media screen and (min-width: 550px) {
    body {
      background-image: url("images/background.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
    main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      width: 500px;
      height: 490px;
      text-align: center;
      margin-top: 50px;
      border: 1px solid #b3b3b3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
    img {
      width: 200px;
      margin-top: 30px;
    }
    h2 {
      margin-top: 80px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #151515;
    }
    .p1 {
      margin-top: 50px;
      color: #151515;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 150%;
    }

    .log-in-div {
        margin-top: 100px;
      }
      .log-in-div a {
        color: #01b7ee;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
      }
      .icon-arrow {
        align-content: center;
        margin: 0px 0px 0px 0px;
        width: 15px;
        height: 1.4px;
        border-radius: 4px;
        background-color: #0198c6;
        position: relative;
        top: -11px;
        left: 330px;
        font-size: 0px;
      }
      .icon-arrow:after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 1.4px;
        background-color: #0198c6;
        transform: rotate(45deg);
        position: absolute;
        right: 0px;
        bottom: 3px;
      }
      .icon-arrow:before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 1.4px;
        background-color: #0198c6;
        transform: rotate(-45deg);
        position: absolute;
        right: 0px;
        bottom: -3px;
      }
  }
  
  @media screen and (max-width: 550px) {
    .wrapper {
      width: 375px;
      margin: 0 auto;
    }
    body {
      background-image: url("images/background.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .container {
      width: 375px;
      height: 440px;
      text-align: center;
      margin-top: 50px;
      border: 1px solid #b3b3b3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
    }
    img {
      width: 200px;
      margin-top: 20px;
    }
    h2 {
      margin-top: 70px;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      color: #151515;
    }
    .p1 {
      margin-top: 60px;
      color: #151515;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
    }
    .log-in-div {
        margin-top: 70px;
      }
      .log-in-div a {
        color: #01b7ee;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
      }
      .icon-arrow {
        align-content: center;
        margin: 0px 0px 0px 0px;
        width: 15px;
        height: 1.4px;
        border-radius: 4px;
        background-color: #0198c6;
        position: relative;
        top: -11px;
        left: 260px;
        font-size: 0px;
      }
      .icon-arrow:after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 1.4px;
        background-color: #0198c6;
        transform: rotate(45deg);
        position: absolute;
        right: 0px;
        bottom: 3px;
      }
      .icon-arrow:before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 1.4px;
        background-color: #0198c6;
        transform: rotate(-45deg);
        position: absolute;
        right: 0px;
        bottom: -3px;
      }
  }
  